/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		  background-color: #4f4f4f; 
		  color: #4d4d4d;
		  font-family: 'Crimson Text', serif;
		  font-size: 100%;
		  background-image: url('../img/gradient.png'),url('../img/pink-lines2.gif');  
		  background-position: top, top;
		  background-repeat: repeat-x, repeat;
		  line-height: 1.4em;
		  
	} 
	            
 
	#main { margin: 3% 0; text-align:justify; font-size: 1.05882352941176em;}
	#main h1 { padding: 0 0 8% 0;  font-size:1.52941176470588em; font-family: 'Raleway'; color:#4d4d4d; } 
	#main h1 > span {background-image:url('../img/dots.gif'); background-position: bottom; background-repeat: repeat-x; padding-bottom: 0.70588235294118em;}
	#main strong { font-weight:600; font-size: 1.11764705882353em; line-height: 1.1em;}
	#main em {font-size: 0.94117647058824em; font-style: italic; color:#4d4d4d}
	#main img.align_right { float: right; padding: 4px 8% 2% 4%;} 
	#main img.align_left { float: left; padding: 0 4% 3% 0;} 
	
	#secondary { margin-bottom: 36px;}
	#secondary strong { font-weight:600; font-size: 1.11764705882353em; line-height: 1em;}
	.tertiary { margin-bottom:3em;}
	.tertiary h2 { margin-bottom:0.70588235294118em; }
	h2 { font-family: 'Raleway'; padding-bottom: 1.2%; font-size: 1.29411764705882em;} 
	
	h2 > span { padding-bottom: 0.58823529411765em; background-image:url('../img/dots.gif'); background-position: bottom; background-repeat: repeat-x;}  
	.styled_box { background-image: url('../img/accolade.png'); background-position: left; background-repeat: no-repeat; padding: 0 0 0 54px; background-size: 4%;}
	
	.ex { color: #e5e5e5; font-size: 3.76470588235294em; vertical-align: -12px; font-family: 'Georgia', serif}
	#logo p { padding: 8% 2% 0 2%;}  
	nav { padding: 6% 2% 0 2%; line-height: 1.05882352941176em;} 
	#intro p { font-size:1em; line-height:1.47058823529412em;  } 
	#main p { padding: 0 8% 0 0; margin-bottom: 2.4%;}  
    .aside p { padding: 2% 8% 2% 0; margin-bottom: 2.4%;} 
	nav { text-align: left; text-transform: uppercase;font-size:0.94117647058824em;}  
   	
	blockquote p { margin-bottom: 10px;}
	blockquote cite { display: block; text-align: right;}
    blockquote cite em { color: #4d4d4d;  font-size: 1em; font-style: italic;}


	blockquote {
		width: 296px; /* required */

		}


	#quote_wrap, #yellow_box, #yellow_box_top_left { 
		background: #FFFAE4 url('../img/quote.png') no-repeat 20px 20px;
		margin: 40px 0; padding: 20px; border: 1px solid #FFF7D4;
		} 
	 
	#yellow_box { background: #FFFAE4 url('../img/inverted_quote.png') no-repeat 266px 194px;}
	#yellow_box_top_left { background: #FFFAE4 url('../img/inverted_quote.png') no-repeat 260px 20px;}  
    #bulletin { text-align:left;}
	#bulletin em {  color: #4d4d4d;  font-size: 1em; font-style: italic; }
	
	.footer { padding: 4% 2%;} 
	footer, em {  font-size: 0.76470588235294em; color: #e00071;}
	nav { text-align: right; }
	nav a { text-decoration: none; color: #747a80; padding: 0.4% 0;  font-size: 0.88235294117647em;}
	nav li a.active {  color: #e00071;}
		
	nav li { display: inline; margin-left: 2%;}
    footer { color: #ded9d8;  height: 120px;} 
   .grey { /*background-color: #56595d; background-color: #7b8085;*/ background-color: #424346;}   
    strong	{ font-weight: bold;}
	::selection {
	  background: #e00071;
	  color: #ffffff;
	}
	::-moz-selection {
	  background: #e00071;
	  color: #ffffff;
	}  
	.book { cursor: pointer;}
    .book_title { font-style: italic; border-bottom: 1px dotted #444; display: none; position: absolute; z-index: 999999; top: -10px; text-align: right; width: 400px;}

input { padding:5px; border:2px solid #ddd; width:20%; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}


   #contribute { margin: 0 auto;  width: 72px; height: 72px; background-image: url('../img/contribute.png'); background-repeat: no-repeat; background-position: 0 -72px; cursor: pointer; }
   #contribute:hover { background-position: 0 0;}
 
   #intro { font-size: 0.94117647058824em; }
   a.pink_link, a.pink_link_min_height { cursor: pointer; padding: 0 0 6px 14px; background-image: url('../img/link_arrow.png'); background-repeat:no-repeat; background-position: left 7px ; text-decoration: none; color:#e00071; } 
   a.pink_link:hover, a.pink_link_min_height:hover { border-bottom: 1px dotted #e00071;}
   a.pink_link_min_height { padding: 0 0 0 14px;}

   a.inline_link { text-decoration: none; color: #4d4d4d; padding: 0 2px;}
   a.inline_link:hover { background-color: #dadee5; }
   a.inline_link > span { background-image:url('../img/pink_dots.gif'); background-position: bottom; background-repeat: repeat-x; padding: 0 0 1px 0;}
    a.inline_link:hover > span { background-image:url('../img/dots.gif'); }
  	#to_top { cursor: pointer;}
 
	#slides { position: relative; width: 222px; height: 102px;}
	#slides img { position: absolute; left: 0; top: 0; display: none;}
	#slides img.firstslide { display: block;}
	
	#slides_main { position: relative; width: 140px; height: 205px; float:left; margin: 0.4em 2em 1.4em 0;}
	#slides_main img { position: absolute; left: 0; top: 0; display: none;}
	#slides_main img.firstslide { display: block;}
    
 	#slides_main_right { position: relative; width: 140px; height: 205px; float:right; margin: 0.4em 3.2em 1.4em 2em;}
	#slides_main_right img { position: absolute; left: 0; top: 0; display: none;}
	#slides_main_right img.firstslide { display: block;}
    
	#main_oc img { float:left; display: block; margin: 2px 0 0 0; } 
	#main_oc li p {  display: block; margin: 0 0 24px 40px;} 

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}